<div class="col-md-6 offset-md-3">
	<h1>Credit Card System</h1>
	<h2>Add</h2>
	<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
		<div *ngIf="serverErrors.length > 0" class="alert alert-danger">
			<div *ngFor="let err of serverErrors">{{err.defaultMessage}}</div>
		</div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" formControlName="holderName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.holderName.errors }" />
			<div *ngIf="submitted && f.holderName.errors" class="invalid-feedback">
				<div *ngIf="f.holderName.errors.required">Card holder name is required</div>
			</div>
		</div>
		<div class="form-group">
			<label>Card number</label>
			<input type="number" formControlName="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.number.errors }" />
			<div *ngIf="submitted && f.number.errors" class="invalid-feedback">
				<div *ngIf="f.number.errors.required">Card number is required</div>
				<div *ngIf="f.number.errors.required">Card number is a numeric value</div>
				<div *ngIf="f.number.errors.maxLength">Card number hax max 19 chars</div>
			</div>
		</div>
		<div class="form-group">
			<label>Limit</label>
			<input type="number" formControlName="limit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.limit.errors }" />
			<div *ngIf="submitted && f.limit.errors" class="invalid-feedback">
				<div *ngIf="f.limit.errors.required">Card limit is required</div>
				<div *ngIf="f.limit.errors.pattern">Card limit is a number</div>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary">Add</button>
		</div>
	</form>

	<h2>Existing Cards</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Card Number</th>
				<th scope="col">Balance</th>
				<th scope="col">Limit</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let card of cards">
				<th>{{card.holderName}}</th>
				<th>{{card.number}}</th>
				<th>
					<div [ngStyle]="{'color': (card.balance < 0) ? 'red' : null }">
						{{card.balance | currency:'£'}}
					</div>
				</th>
				<th>{{card.limit | currency:'£'}}</th>
			</tr>
		</tbody>
	</table>
</div>